@import "nullstyle";

body{
  font-family: 'Mulish', sans-serif;
}

%point{
  &:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #0B7BFF;
    margin-left: 12px;

  }
}

.title{
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
}
.container{
  max-width: 1041px;
  margin: auto;
  @media (max-width: 1200px) {
    max-width: 90%;
  }
}
//%backgroundImage{
//  background-size: cover;
//  background-repeat: no-repeat;
//  position: relative;
//}
/*header*/
header{
  padding-top: 48px;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  .header-menu {
    display: flex;
    align-items: center;

    .header-menu-list {
      display: flex;

      a {
        color: #0B7BFF;
        margin-right: 25px;
      }

      margin-right: 20px;
    }

    button {
      padding: 8px 20px;
    }
  }
  }
}
.button{
  display: inline-block;
  color: #fff;
  background: #0B7BFF;
  border-radius: 5px;
  padding: 8px 32px 8px 33px;
}
/*hero*/
.hero{
  padding-top: 50px;
  .hero-top {
    max-width: 575px;
    margin: auto;
    padding-left: 70px;
    .hero-top__title {
      font-weight: 900;
      letter-spacing: -2px;
      margin-bottom: 35px;

      @extend %point;

    }
  }
  .hero-bottom{
    display: flex;
    margin-top: -156px;
    justify-content: space-between;
  }
}
/*cel*/
.cel{
  margin-bottom: 200px;
  .container{
    padding-left: 25px;
  }
  .cel__title{
    margin-bottom: 30px;
    @extend %point;
  }
  .cel-body{
    display: flex;
    padding-right: 55px;
  }

  .cel-body-content{
    width: 275px;
    display: flex;
    height: 100%;
    flex-direction: column;
    background: rgba(214, 237, 255, 0.51);

    .cel-body-content__title{

      font-weight: 900;
      font-size: 24px;
      line-height: 30px;
      margin: 33px 22px 0 32px;
      flex: 1 1 auto;
    }
    a{
      display: block;
      margin: 43px 49px 50px 33px;
    }
  }
  .cel-body-content--2,.cel-body-content--4{
    margin-top:  54px;
    margin-left: -42px;
  }
  .cel-body-content--3{
    margin-left: -42px;
  }
}

/*Possibilities*/

//.ibg{
//  background-position: center;
//  background-size: cover;
//  background-repeat: no-repeat;
//  position: relative;
//}
//
//.ibg img{
//  display: none;
//  width: 0;
//  height: 0;
//  position: absolute;
//  top: 0;
//  left: 0;
//  opacity: 0;
//  visibility: hidden;
//}


.possibilities{
  .container{
    padding-left: 25px;
  }
  margin-bottom: 82px;
  .possibilities__title{
    @extend %point;
    margin-bottom: 32px;
  }
  .possibilities-item{
    display: flex;
    margin-bottom: 55px;
  }
  .possibilities-item-image{
    //max-width: 600px;
    border-top: 6px solid rgb(11, 123, 255, );
    border-right: 6px solid rgb(11, 123, 255, );
    border-bottom: 6px solid rgb(11, 123, 255, .5) ;
    border-left: 6px solid rgb(11, 123, 255, .5 );

  }
  //.possibilities__image{
  //  background: url(../img/possibilities.jpg) top  center ;
  //  height: 100%;
  //  @extend  %backgroundImage;
  //}
  .possibilities__slider--1, .possibilities__slider--3 {
    .possibilities-body{
      margin-left: 90px;
    }
  }
  .possibilities__slider--2, .possibilities__slider--4 {
    .possibilities-body{
      margin-right: 90px;
    }
  }

  input[type=radio]{
    display: none;
  }
  .possibilities-overflow{
    width: 100%;
    overflow: hidden;
    .possibilities-overflow-inner{
      transition: margin-left 1600ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      width: 400%;
    }
  }

  #input1:checked ~ #slides .possibilities-overflow-inner {
    margin-left: 0;
  }
  #input2:checked ~ #slides .possibilities-overflow-inner {
    margin-left: -100%;
  }
  #input3:checked ~ #slides .possibilities-overflow-inner {
    margin-left: -200%;
  }
  #input4:checked ~ #slides .possibilities-overflow-inner {
    margin-left: -300%;
  }
  .possibilities__slider{
    width: 25%;
    float:left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  .possibilities-radios{
    display: flex;
    justify-content: center;

    label{
      display: inline-block;
      cursor:pointer;
      text-decoration: none;
      width: 20px;
      height: 20px;
      border-radius:100%;
      background: rgba(11, 123, 255, 0.2);
      margin: 0 10px;
    }
  }
  #input1:checked ~ .possibilities-radios label:nth-child(1),
  #input2:checked ~ .possibilities-radios label:nth-child(2),
  #input3:checked ~ .possibilities-radios label:nth-child(3),
  #input4:checked ~ .possibilities-radios label:nth-child(4){
    background: #0B7BFF;
  }
}
.possibilities-body, .service-item {
  max-width: 192px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.possibilities-body__title, .services-item__title{
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 34px;
}
.possibilities-body__text, .services-item__text{
  font-size: 18px;
  line-height: 25px;
  color: #0B7BFF;
  margin-bottom: 62px;
  flex: 1 1 auto;
}
/*services*/

.services{
  margin-bottom: 82px;
  .services-title{
    @extend %point;
    margin-bottom: 60px;
  }
  .service-body{
    display: flex;
  }
  .services__column{
    margin-right: 77px;
    &:last-child{
      margin-right: 0;
    }
  }

}
/*contact*/

.contact{

  .container{
    display: flex;
  }
  .contact-info{
    align-self: flex-end;
  }
  .contact-info__title{
   @extend %point;
    margin-bottom: 58px;
  }
  .contact-info__town{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }
  .contact-info__address{
    font-size: 18px;
    line-height: 25px;
    color: #0B7BFF;
    margin-top: 18px;
    margin-bottom: 36px;
    max-width: 190px;
  }
  .contact-info__map{

  }
  .contact-form{
    margin-left: 100px;
    margin-bottom: 45px;
   .row{
     border: 10px solid rgba(214, 237, 255, 0.51);
     padding: 36px 84px 66px 76px;
     //margin-top: 95px;

   }
    .contact-form__title{
      font-weight: bold;
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 19px;
    }
    .contact-form-line{
      border: 5px solid #D6EDFF;
      margin-bottom: 25px;
     .input{
       padding: 16px;
       width: 355px;
       font-size: 14px;
       line-height: 18px;
       color: #A7A7A7;
       resize: none;
     }
    }
    .contact-form__btn{
      padding: 8px 78px;
    }
  }
}


